<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.albumplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>albumplugin</name>
  <js-module name="albumplugin" src="www/albumplugin.js">
    <clobbers target="cordova.plugins.albumplugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AlbumPlugin">
        <param name="android-package" value="com.albumplugin.AlbumPlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/AlbumPlugin.java" target-dir="src/com/albumplugin" />
    <source-file src="src/android/Base64.java" target-dir="src/com/albumplugin"/>
    <source-file src="src/android/SecurityUtils.java" target-dir="src/com/albumplugin"/>
  </platform>
</plugin>
