<ion-header>
  <ion-navbar>
    <ion-title>{{item.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()"  >
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

 <ion-list>

   <ion-item>
     <ion-label stacked >标题</ion-label>
     <ion-input type="text" name="title" [(ngModel)]="item.title"  disabled="{{disabled}}"></ion-input>
   </ion-item>

   <ion-item>
     <ion-label stacked >描述</ion-label>
     <ion-textarea name="desc" [(ngModel)]="item.desc"  disabled="{{disabled}}"></ion-textarea>
   </ion-item>

   <ion-item>
     <ion-label stacked >地址</ion-label>
     <ion-input type="text" name="address" [(ngModel)]="item.address"  disabled="{{disabled}}"></ion-input>
   </ion-item>

   <ion-item>
     <ion-label stacked >时间</ion-label>
     <ion-input type="text" name="creationDate" [(ngModel)]="item.creationDate"  disabled="{{disabled}}"></ion-input>
   </ion-item>

   <button ion-button full [hidden]="disabled" (click)="update()">保存</button>

  <!-- <ion-item>
    &lt;!&ndash; <img *ngIf="item.photoURL"  [src]="item.photoURL | cdvphotolibrary" (click)="openPhoto()">&ndash;&gt;
     <img *ngIf="item.photoURL && (item.mediaType=='image' || item.mediaType==null)"   [src]="item.photoURL | cdvphotolibrary" (click)="openPhoto()">
     <video *ngIf="item.photoURL && item.mediaType=='video'" width="320" height="240" controls webkit-playsinline>
       <source [src]="item.photoURL | cdvphotolibrary" type="video/mp4">
       Your browser does not support the video tag.
     </video>
   </ion-item>-->

   <ion-item *ngFor="let it of item.datas">
     <img *ngIf="it.photoURL.endsWith('jpg')|| it.photoURL.endsWith('jpeg')"  [src]="it.photoURL | cdvphotolibrary"/>
     <video  *ngIf="it.photoURL.endsWith('mp4')" width="320" height="240" controls webkit-playsinline>
       <source [src]="it.photoURL | cdvphotolibrary" type="video/mp4">
       Your browser does not support the video tag.
     </video>
   </ion-item>


 </ion-list>

</ion-content>


