photo-detail{
  ion-card {
    position: relative;
    text-align: start;
  }

  .card-title {
    position: absolute;
    top: 1%;
    font-size: 1.0em;
    width: 100%;
    font-weight: normal;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 5%;
    width: 100%;
    color: #fff;
  }

}
