album-video {
  video{
    object-fit: cover;
    object-position: center center;
  }
  .card-address {
    position: absolute;
    top: 10px;
    font-size: 1.0em;
    width: 100%;
    font-weight: normal;
    color: #fff;
    z-index: 100;
  }

  .card-title {
    position: absolute;
    top: 28px;
    font-size: 1.0em;
    width: 100%;
    font-weight: normal;
    color: #fff;
    z-index: 100;
  }

  .card-time {
    font-size: 1.0em;
    position: absolute;
    top: 28px;
    width: 100%;
    color: #fff;
    z-index: 100;
  }
}
